*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pexels-pixabay-265101.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}